body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
    
    
    

}
.background {
    background-color: rgb(8, 1, 8)
    
    

}
.title {
    font-style: italic;
    font-weight: bolder;
    color: rgb(228, 80, 16);
    font-size: larger;


}
.display{
    color: aqua;
    font-weight: bold;
}
#playerx{
    color: rgb(196, 113, 12);
}
.container{
    display:grid;
    grid-template-columns:33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    gap: 2px;
    max-width: 300px;
    margin: 10px auto;
    border-radius: 10px;
    /*  border: 2px solid rgb(44, 3, 72);*/
    box-shadow: 45px;
}
.tile {
    background-color: rgb(178, 198, 198);
    display: flex;
    border-radius: 10px;
    margin: 3px;
    min-width: 100px;
    min-height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    cursor: pointer;
    border: 2px solid rgb(183, 17, 45);
} 
.controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}
.controls button{
    background: rgba(162, 7, 144, 0.396);
    color: bisque;
    padding: 10px;
    border: none;
    border-radius: 10px;

    

}


   

footer{
    color: aqua;
    font-style: italic;
    font-weight: bolder;
    margin-left:50px ;
}
    
